[Unit]
Description=ReadNFC
After=syslog.target network.target

[Service]
User=volumio
WorkingDirectory=/home/volumio/volumio-nfc/py532lib
ExecStart=/home/volumio/volumio-nfc/py532lib/readnfc.py
RestartSec=10s
Restart=always
StandardOutput=syslog
StandardError=syslog
#SyslogIdentifier=readnfc

[Install]
WantedBy=multi-user.target
