[Unit]
Description=ReadNFC
After=syslog.target network.target

[Service]
User=volumio
#WorkingDirectory=/home/volumio/py532lib-master
ExecStart=/home/volumio/readnfc.sh
RestartSec=10s
Restart=always
StandardOutput=syslog
StandardError=syslog
#SyslogIdentifier=readnfc

[Install]
WantedBy=multi-user.target
